/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: century gothic;
  
}

/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: century gothic;
}
nav.sticky{
  background: maroon;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}
/* ronin group title */
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: orange;
  padding: 6px 0;
  transition: all 0.4s ease;
  font-weight: 100;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: black;
}


/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 36px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: blue;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("Images/blue\ white.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: century gothic;
  
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 65px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 20px;
  background:#0E2431;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.home .button button:hover{
  
  background-color: gray;
  color: white;
}

/* About Section Styling */

section{
  padding-top: 20px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: century gothic;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color:maroon;
  font-size: 23px;
  font-weight: bold;
  position: relative;
  padding-bottom: 8px;
}

.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 250px;
  width: 375px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 14px;
  border-radius: 30px;
  font-size: 20px;
 
  background:#0E2431;
  color: #fff;
  border: solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: none;
  background-color: gray;
  color: white;
}

 /* Skills CSS */
 .skills{
   background: #F0F8FF;
   border-radius: 30px;
   
 }
 .skills .content{
   padding: 30px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 18px;
  color: orange;
}
.skills-details .boxes .per{
  font-size: 40px;
  color: #4070f4;
}

/* Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

@media (max-width: 768px) {
  /* Adjust card size for smaller screens */
  .services .boxes{
      flex: 0 0 calc(33.33% - 20px); /* 33.33% width with spacing */
  }
}

.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: #0E2431;
  color: #fff;
  transform: translateY(-15px);
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: blue;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
/* Contact us*/
.contact{
  background: #F0F8FF;
  border-radius: 30px;
  
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
  
}
.contact .text{
  width: 40%;
  text-align: center;
  margin: auto;
  
}

/* Footer CSS */

/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: maroon;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 48%;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}

.container4{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  
  
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0E2431;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* Keyframes animation for the loader */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* pricing */

.container6 {
max-width: 1200px;
margin: 0 auto;
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
font-family: century gothic;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  
  
}

th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #0E2431;
  font-weight: bold;
 
}

th {
  background-color: #0E2431;
  color: #fff;
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.checkbox-cell {
  text-align: center;
}

@media (max-width: 768px) {
  table {
      font-size: 14px;
  }
}
@media (max-width: 768px) {
.product {
    width: calc(50% - 20px);
}
}

@media (max-width: 480px) {
.product {
    width: 100%;
}
}

/* pop up at the bottom toast */
.popup {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color:  #0E2431;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    font-family: century gothic;
}

/* Animation to show the popup */
.show-popup {
    opacity: 1;
}

/* team of staff */
.container11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  font-family: century gothic;
  
 
}

.worker {
  background-color: #fff;
  
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: calc(33.33% - 20px);
  max-width: 250px;
 
}

.worker img {
  max-width: 70%;
  
  margin-bottom: 10px;
}

.worker h2 {
  font-size: 1.0em;
  margin: 0;
  color: blue;
}

.worker p {
  font-size: 0.9em;
  color: black;
}
/* marquee */

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: black;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite;
    
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .marquee-container {
        width: 100%;
        margin: 0 auto;
    }

    .marquee-content {
        font-size: 14px;
        font-family: century gothic;
    }
}

@media (max-width: 480px) {
    .marquee-container {
        width: 100%;
    }

    .marquee-content {
        font-size: 14px;
        font-family: century gothic;
    }
}

/* ad */
.advertisement {
  position: fixed;
  bottom: 10px;
  left: -100%;
  background-color: rgb(7, 33, 15);
  color: white;
  padding: 10px;
  width: 50%;
  transition: left 0.5s ease-in-out;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 5%;
  
}

@media (min-width: 768px) {
  .advertisement {
      width: 20%;
      max-width: 300px;
      
  }
}

.advertisement.show {
  left: 0;
}

.close-button {
  float: right;
  cursor: pointer;
  font-weight: bolder;
  color: red;
  
}

.close-button::before {
  content: "X";
}
/* whatsapp */
.floating-icon {
  position: fixed;
  bottom: 12%;
  right: 15px;
  z-index: 1000;
}

.floating-icon a {
  display: block;
  background-color: #0E2431;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.floating-icon a:hover {
  background-color:  #25d366;
  
}